* {
  font-family: "lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}
/* header {
  width: 1440px;
  height: 3306px;
  color: #fff;
} */
.section-title {
  width: 243px;
  height: 52.2px;
  padding-top: 87px;
  padding-left: 120px;
  color: #3a3a3a;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > ul {
  display: flex;
  gap: 34px;
  padding-top: 96px;
  padding-right: 120px;
}
nav li {
  list-style: none;
  margin-right: 30px;
  color: #3a3a3a;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
nav li a {
  text-decoration: none;
  color: #3a3a3a;
}
.main-container {
  padding-top: 145.8px;
  padding-left: 120px;
}
.title-container {
  width: 582px;
  height: 133px;
  color: #3a3a3a;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
}
.title-description {
  width: 505px;
  height: 60.9px;
  color: #3a3a3a;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.btn-primary {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 24px;
  gap: 8px;
  border-radius: 41px;
  background-color: #e02c6d;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}
